h1{
  text-align:center;
}
h3{
text-align:center;  
color:gray;
font-weight: bold;

}
nav {
 background-color: gray;
 text-align:center;
  font-size: medium;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top:10px;
   padding-bottom:10px;
}

button.validate{
  font-weight: bold;
  font-size:small;
}

button.submit{
  font-weight: bold;
  font-size:small;
}